/* .App {
  text-align: center;
} */

.appContainer {
  width: 100%;
}

/* .buttonLinkNav {
  font-weight: bold;
  color: "white";
  text-decoration: none;
  font-family: "Assistant", sans-serif;
} */
